
@{
    ViewData["Title"] = "Bhawalpur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div>
        <img class="noor-mahal-img" src="~/images/noor-mahal.png" alt="noor mahal" />
    </div>
    <div>
        <p class="noor-mahal-txt">
            <strong>Noor Mahal </strong>Bahawalpur
        </p>
        <p class="noor-mahal-para">
            The Noor Mahal is a Pakistan Army-owned palace in Bahawalpur, Punjab, Pakistan. It was built in 1872 like an Italian chateau on neoclassical lines, at a time when modernism had set in. It belonged to the Nawabs of Bahawalpur princely state, during British Raj
        </p>
    </div>
    <div>
        <p class="noor-mahal-rect"></p>
        <p class="noor-mahal-rect-txt">Roadmap</p>
        <p class="noor-mahal-rect-txt-1">Bhawalpur City</p>
        <p class="noor-mahal-rect-txt-2">- - - - - - - - -</p>
        <p class="noor-mahal-rect-txt-3">
            Bahawalpur Cantt
        </p>
        <p class="noor-mahal-rect-txt-4">- - - - - - - - -</p>
        <img class="arrow-img" src="~/images/Group 71.png" alt="arrow image"/>
        <p class="noor-mahal-rect-txt-5">Noor Mahal</p>
    </div>
    <div>
        <p class="architecture-txt">Architecture</p>
        <p class="architecture-txt-1">Mr. Heennan, an Englishman who was the state engineer, designed the building. The foundation of Noor Palace was laid in 1872. A map and coins of the state were buried in its foundation as a good omen. Most of the palace's materials and furniture were imported from England and Italy.</p>
        <p class="things-to-see-txt">
            Things to see
        </p>
        <p class="things-to-see-txt-1">
            There are a lot of old things present in it. It includes many Nawabs' used things. There are many old swords, old currency notes and coins, old laws that were made in that time, an old piano that Nawabs used to play, old furniture used by Nawabs etc. There is also a prison cell aside the Mahal
        </p>
        <img class="gallery-img" src="~/images/IMG_6218edited 1.png" alt="gallery image" />
    </div>
</div>

