
@{
    ViewData["Title"] = "Exhibition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="controller">
    <div>
        <p class="meuseum-txt">
            Museum Exhibition |
        </p>
        <p class="meuseum-txt-1">
            7 November 2021
        </p>
        <img class="exhibition-arrow-img" src="~/images/exhibition-arrow.png" alt="arrow image" />
        <p class="meuseum-txt-2">
            Islamabad Museum
        </p>
        <input type="button" class="ticket-button" value="Tickets" />
        <p class="detail-txt">Details</p>
        <p class="detail-txt-1">The Pakistan National Museum of Ethnology (or Folk Heritage Museum) was originally established in 1982 as the "Folk Art Museum". The museum showcases Pakistan's multicultural society by displaying history and living traditions of the various ethnic groups of Pakistan from all corners of the country. The museum covers an area of 20,000 square feet and in 2004 underwent renovations and was renamed.</p>
    </div>
</div>