
@{
    ViewData["Title"] = "Services";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="train-guide-image" src="~/images/bw guide 1.png" alt="train guide" />
            <img class="train-rectangle-image" src="~/images/trained-guides-rectangle.png" alt="trained guides rectangle" />
            <p class="train-guide-txt">
                TRAINED GUIDES
            </p>
            <button class="city-dropdown-btn" data-toggle="dropdown" data-hover="dropdown">
                Select City
            </button>
            <ul class="dropdown-menu ">
                <li class="cities-names"><a href="#">Quetta</a></li>
                <li class="cities-names"><a href="#">Sahiwal</a></li>
                <li class="cities-names"><a href="#">Lahore</a></li>
            </ul>
        </div>
        <div class="col-lg-6">
            <img class="pacakages-image" src="~/images/packages-img.png" alt="packages" />
            <img class="package-rectangle-image" src="~/images/trained-guides-rectangle.png" alt="package guides rectangle" />
            <p class="package-txt">
                PACKAGES
            </p>
            <button class="city-dropdown-btn-1" data-toggle="dropdown" data-hover="dropdown">
                Select City
            </button>
            <ul class="dropdown-menu ">
                <li class="cities-names"><a href="#">Quetta</a></li>
                <li class="cities-names"><a href="#">Sahiwal</a></li>
                <li class="cities-names"><a href="#">Lahore</a></li>
            </ul>
        </div>
    </div>
    <div>
        <div>
            <img class="tour-guider-1" src="~/images/person-img-1.png" alt="tour guider 1" />
            <p class="tour-guider-txt-1">Usman Javid</p>
            <p class="tour-guider-para-1">
                PKR 1000 Per hour Karachi guide Experience level Intermediate
            </p>
        </div>
        <div>
            <img class="tour-guider-2" src="~/images/person-img-2.png" alt="tour guider 2" />
            <p class="tour-guider-txt-2">Muhammad Ali</p>
            <p class="tour-guider-para-2">
                PKR 1500 Per hour Mardan guide Experience level Expert
            </p>
        </div>
        <div>
            <img class="tour-guider-4" src="~/images/person-img-3.png" alt="tour guider 3" />
            <p class="tour-guider-txt-3">Maham Khan</p>
            <p class="tour-guider-para-3">
                PKR 1500 Per hour Lahore guide Experience level Expert
            </p>
        </div>
        <div class="vertical-line"></div>
    </div>
    <div>
        <div class="pckg-a-rectangle"></div>
        <p class="pckg-a-rectangle-txt">
            Package A:
        </p>
        <p class="pckg-a-rectangle-para">Walled city Peshawar Group of 5 Persons Date: 4 Oct 2021 1500 /- Per head</p>
        <p class="pckg-a-rectangle-para-1">Trained guide Logistics Cultural food</p>
        <div class="pckg-b-rectangle"></div>
        <p class="pckg-b-rectangle-txt">
            Package B:
        </p>
        <p class="pckg-b-rectangle-para">Takht Bai Group of 10 Persons Date: 24 Dec 2021 2000 /- Per head</p>
        <p class="pckg-b-rectangle-para-1">Trained guide Logistics Cultural food Security</p>
    </div>
</div>